#
# MANIFEST.in
#
# Manifest template for creating the pyQode source distribution.

include MANIFEST.in
include setup.py
include LICENSE.txt
include AUTHORS.txt
include README.rst
include CONTRIBUTING.md
recursive-include doc *
recursive-include pyqode/python/frontend/ui/ *
recursive-include examples *
recursive-include test *
