#
# MANIFEST.in
#
# Manifest template for creating the pyQode source distribution.

include MANIFEST.in
include setup.py
include ez_setup.py
include LICENSE.txt
include AUTHORS.txt
include README.rst
include CONTRIBUTING.md
include pyqode/python/ui/*
include pyqode/python/ui/rc/*
include examples/gui_integration/*
include examples/gui_integration/ui/*
include examples/gui_integration/ui/rc/*
