[Desktop Entry]
Encoding=UTF-8
Name=Qidle
Comment=Qidle, idle made with pyQode
Exec=qidle
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/qidle.png
Categories=Development;IDE;
